@{
    Layout = "~/Views/Shared/_BudgeterLayout.cshtml";
}
@{
    ViewBag.Title = "Login Failure";
}

<div class="row anon">
    <div class="col-md-3 full-content-large">
        <div class="login-wrap">
            <hgroup>
                <h2>@ViewBag.Title.</h2>
                <h3 class="text-danger">Unsuccessful login with service.</h3>
            </hgroup>
        </div>
    </div>
</div>
