@{
    Layout = "~/Views/Shared/_BudgeterLayout.cshtml";
}

@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row anon">
    <div class="col-md-3 full-content-large">
        <div class="login-wrap">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
                <a href=@Url.Action("Login", "Account") class="btn btn-dark btn-block">Back to Login</a>
            </div>
        </div>
    </div>
</div>
